/* Левая панель */
.chat-list {
    -fx-pref-width: 220;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-background-color: #1e1e2f;
}

.chat-list-title {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.chat-item {
    -fx-spacing: 10;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 8;
    -fx-background-radius: 10;
}

.chat-item:hover {
    -fx-background-color: #31638a;
}

.chat-avatar {
    -fx-background-color: #444;
    -fx-background-radius: 18;
}

.chat-name {
    -fx-text-fill: white;
}


.chat-area {
    -fx-background-color: #2b2b3c;
}

.message-scroll {
    -fx-background: transparent;
    -fx-background-color: rgba(39, 47, 101, 0.72);
}

.message-scroll .viewport {
    -fx-background-color: rgba(39, 47, 101, 0.72);
}

/* Сообщения */
.message {
    -fx-padding: 10 14;
    -fx-background-radius: 14;
    -fx-max-width: 400;
}

.message-in {
    -fx-background-color: #2f2b45;
    -fx-text-fill: white;
    -fx-padding: 8 12;
    -fx-background-radius: 12;
}

.message-out {
    -fx-background-color: #4b6cff;
    -fx-text-fill: white;
    -fx-padding: 8 12;
    -fx-background-radius: 12;
}

.message-box {
    -fx-padding: 10;
    -fx-background-color: rgba(39, 47, 101, 0.72);
}
.input-bar {
    -fx-padding: 10;
    -fx-background-color: #1e1e2f;
}

.chat-input {
    -fx-background-color: #1e1e2f;
    -fx-background-radius: 12;
    -fx-padding: 10;
    -fx-min-height: 40;
}

.chat-input-text {
    -fx-font-size: 14px;
    -fx-fill: white;
}


.send-button {
    -fx-background-radius: 12;
    -fx-background-color: #31638a;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #28104a;
}

