/* Left panel */
.chat-list {
    -fx-pref-width: 220;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-background-color: #1e1e2f;
}

.chat-list-title {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.chat-item {
    -fx-spacing: 10;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 8;
    -fx-background-radius: 10;
}

.chat-item:hover {
    -fx-background-color: #31638a;
}

.chat-avatar {
    -fx-background-color: #444;
    -fx-background-radius: 18;
}

.chat-name {
    -fx-text-fill: white;
}


.chat-area {
    -fx-background-color: #2b2b3c;
}

.message-scroll {
    -fx-background: transparent;
    -fx-background-color: rgba(39, 47, 101, 0.72);
}

.message-scroll .viewport {
    -fx-background-color: rgba(39, 47, 101, 0.72);
}

/* Messages */
.message {
    -fx-padding: 10 14;
    -fx-background-radius: 14;
    -fx-max-width: 400;
}

.message-in {
    -fx-background-color: #2f2b45;
    -fx-text-fill: white;
    -fx-padding: 8 12;
    -fx-background-radius: 12;
}

.message-out {
    -fx-background-color: #4b6cff;
    -fx-text-fill: white;
    -fx-padding: 8 12;
    -fx-background-radius: 12;
}

.message-box {
    -fx-padding: 10;
    -fx-background-color: rgba(39, 47, 101, 0.72);
}
.input-bar {
    -fx-padding: 10;
    -fx-background-color: #1e1e2f;
}

.chat-input {
    -fx-background-color: #1e1e2f;
    -fx-background-radius: 12;
    -fx-padding: 10;
    -fx-min-height: 40;
}

.chat-input-text {
    -fx-font-size: 14px;
    -fx-fill: white;
}


.send-button {
    -fx-background-radius: 12;
    -fx-background-color: #31638a;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #28104a;
}

.chat-top-bar {
    -fx-background-color: #2d2b40;
    -fx-padding: 8 16;
    -fx-border-color: #1e1b2e;
    -fx-border-width: 0 0 1 0;
}

.chat-top-name {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.chat-top-status {
    -fx-text-fill: #3ba55d;
    -fx-font-size: 11px;
}

.chat-avatar-container {
    -fx-cursor: hand;
    -fx-min-width: 36;
    -fx-min-height: 36;
    -fx-max-width: 36;
    -fx-max-height: 36;
}

.chat-avatar-circle {
    -fx-fill: #5a5480;
}

.chat-avatar-initial {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.chat-name-box {
    -fx-cursor: hand;
}

.chat-top-btn {
    -fx-background-color: #7073ba;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-padding: 4 8;
    -fx-background-radius: 6;
}

.chat-top-btn:hover {
    -fx-background-color: rgba(255,255,255,0.1);
}

